<!DOCTYPE html>
<html>
  <head>
    <title>IIITD|Course Directory Table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /> 
    <style>
    html {
        position: relative;
        min-height: 100%;
      }
    body{        
          padding-top: 0px;
          padding-bottom: 0px;
          margin-bottom: 40px;
      }
    </style>
  </head>
  <body>
    <div class="container">
     <h3 align="center">The requested file was not found.</h3>
     <br> 
     <br>
     <h4 align = "center">
      Please contact the administrator if you think this is a mistake.
    </h4>
  </div>
 </body>
</html>